<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Level One</string>
	<key>levelNumber</key>
	<string>1</string>
	<key>blocks</key>
	<array>
		<string>red</string>
		<string>blue</string>
		<string>yellow</string>
		<string>green</string>
		<string>purple</string>
		<string>yellow</string>
		<string>red</string>
		<string>green</string>
		<string>pink</string>
		<string>blue</string>
		<string>purple</string>
		<string>red</string>
		<string>blue</string>
		<string>yellow</string>
		<string>green</string>
		<string>purple</string>
		<string>yellow</string>
		<string>red</string>
		<string>green</string>
		<string>pink</string>
		<string>blue</string>
		<string>purple</string>
		<string>red</string>
		<string>yellow</string>
		<string>yellow</string>
		<string>green</string>
		<string>purple</string>
		<string>yellow</string>
		<string>red</string>
		<string>green</string>
		<string>pink</string>
		<string>blue</string>
		<string>purple</string>
		<string>red</string>
		<string>blue</string>
		<string>green</string>
		<string>green</string>
		<string>purple</string>
		<string>yellow</string>
		<string>red</string>
		<string>green</string>
		<string>green</string>
		<string>blue</string>
		<string>purple</string>
		<string>red</string>
		<string>blue</string>
		<string>yellow</string>
		<string>green</string>
		<string>purple</string>
		<string>yellow</string>
		<string>red</string>
		<string>green</string>
		<string>pink</string>
		<string>blue</string>
		<string>purple</string>
		<string>red</string>
		<string>blue</string>
		<string>yellow</string>
		<string>green</string>
		<string>purple</string>
		<string>yellow</string>
		<string>red</string>
		<string>green</string>
		<string>pink</string>
		<string>blue</string>
		<string>purple</string>
		<string>red</string>
		<string>blue</string>
		<string>yellow</string>
		<string>green</string>
		<string>purple</string>
		<string>yellow</string>
		<string>red</string>
		<string>red</string>
		<string>blue</string>
		<string>blue</string>
		<string>purple</string>
		<string>purple</string>
		<string>yellow</string>
		<string>red</string>
		<string>blue</string>
	</array>
</dict>
</plist>
