<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Dude Ranch</string>
	<key>levelNumber</key>
	<integer>3</integer>
	<key>blocks</key>
	<array>
		<string>red</string>
		<string>yellow</string>
		<string>blue</string>
		<string>green</string>
		<string>purple</string>
		<string>orange</string>
		<string>lightblue</string>
		<string>lightgreen</string>
		<string>orange</string>
		<string>pink</string>
		<string>red</string>
		<string>yellow</string>
		<string>blue</string>
		<string>green</string>
		<string>purple</string>
		<string>orange</string>
		<string>lightblue</string>
		<string>lightgreen</string>
		<string>orange</string>
		<string>pink</string>
		<string>red</string>
		<string>yellow</string>
		<string>blue</string>
		<string>green</string>
		<string>purple</string>
		<string>orange</string>
		<string>lightblue</string>
		<string>lightgreen</string>
		<string>orange</string>
		<string>pink</string>
		<string>red</string>
		<string>yellow</string>
		<string>blue</string>
		<string>green</string>
		<string>purple</string>
		<string>orange</string>
		<string>lightblue</string>
		<string>lightgreen</string>
		<string>orange</string>
		<string>pink</string>
		<string>red</string>
		<string>yellow</string>
		<string>blue</string>
		<string>green</string>
		<string>purple</string>
		<string>orange</string>
		<string>lightblue</string>
		<string>lightgreen</string>
		<string>orange</string>
		<string>pink</string>
		<string>red</string>
		<string>yellow</string>
		<string>blue</string>
		<string>green</string>
		<string>purple</string>
		<string>orange</string>
		<string>lightblue</string>
		<string>lightgreen</string>
		<string>orange</string>
		<string>pink</string>
		<string>red</string>
		<string>yellow</string>
		<string>blue</string>
		<string>green</string>
		<string>purple</string>
		<string>orange</string>
		<string>lightblue</string>
		<string>lightgreen</string>
		<string>green</string>
		<string>pink</string>
		<string>red</string>
		<string>yellow</string>
		<string>blue</string>
		<string>green</string>
		<string>purple</string>
		<string>orange</string>
		<string>lightblue</string>
		<string>lightgreen</string>
		<string>orange</string>
		<string>pink</string>
		<string>pink</string>
	</array>
	<key>movesAllowed</key>
	<integer>15</integer>
	<key>targetScore1</key>
	<string>10000</string>
	<key>targetScore2</key>
	<string>15000</string>
	<key>targetScore3</key>
	<string>25000</string>
	<key>validNewBlocks</key>
	<array>
		<string>red</string>
		<string>blue</string>
		<string>green</string>
	</array>
</dict>
</plist>
