<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocks</key>
	<array>
		<string>blue</string>
		<string>orange</string>
		<string>red</string>
		<string>orange</string>
		<string>orange</string>
		<string>green</string>
		<string>red</string>
		<string>orange</string>
		<string>red</string>
		<string>green</string>
		<string>green</string>
		<string>yellow</string>
		<string>green</string>
		<string>yellow</string>
		<string>orange</string>
		<string>blue</string>
		<string>blue</string>
		<string>blue</string>
		<string>blue</string>
		<string>blue</string>
		<string>green</string>
		<string>red</string>
		<string>red</string>
		<string>red</string>
		<string>blue</string>
		<string>blue</string>
		<string>yellow</string>
		<string>blue</string>
		<string>blue</string>
		<string>blue</string>
		<string>green</string>
		<string>red</string>
		<string>green</string>
		<string>yellow</string>
		<string>orange</string>
		<string>yellow</string>
		<string>green</string>
		<string>blue</string>
		<string>yellow</string>
		<string>red</string>
		<string>red</string>
		<string>green</string>
		<string>yellow</string>
		<string>red</string>
		<string>orange</string>
		<string>green</string>
		<string>orange</string>
		<string>blue</string>
		<string>red</string>
		<string>orange</string>
		<string>yellow</string>
		<string>red</string>
		<string>blue</string>
		<string>red</string>
		<string>green</string>
		<string>red</string>
		<string>orange</string>
		<string>yellow</string>
		<string>orange</string>
		<string>yellow</string>
		<string>blue</string>
		<string>green</string>
		<string>green</string>
		<string>red</string>
		<string>green</string>
		<string>blue</string>
		<string>orange</string>
		<string>green</string>
		<string>orange</string>
		<string>red</string>
		<string>blue</string>
		<string>green</string>
		<string>blue</string>
		<string>yellow</string>
		<string>blue</string>
		<string>green</string>
		<string>red</string>
		<string>red</string>
		<string>red</string>
		<string>green</string>
		<string>yellow</string>
	</array>
	<key>levelNumber</key>
	<integer>5</integer>
	<key>movesAllowed</key>
	<integer>25</integer>
	<key>name</key>
	<string>Sea of Blue</string>
	<key>targetScore1</key>
	<real>40000</real>
	<key>targetScore2</key>
	<real>80000</real>
	<key>targetScore3</key>
	<real>120000</real>
	<key>validNewBlocks</key>
	<array>
		<string>blue</string>
		<string>green</string>
		<string>orange</string>
		<string>yellow</string>
		<string>blue</string>
		<string>blue</string>
	</array>
</dict>
</plist>
