<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Four</string>
	<key>levelNumber</key>
	<integer>4</integer>
	<key>blocks</key>
	<array>
		<string>lightblue</string>
		<string>green</string>
		<string>blue</string>
		<string>green</string>
		<string>pink</string>
		<string>red</string>
		<string>lightblue</string>
		<string>orange</string>
		<string>orange</string>
		<string>green</string>
		<string>brown</string>
		<string>blue</string>
		<string>orange</string>
		<string>purple</string>
		<string>green</string>
		<string>red</string>
		<string>blue</string>
		<string>purple</string>
		<string>blue</string>
		<string>red</string>
		<string>red</string>
		<string>blue</string>
		<string>red</string>
		<string>red</string>
		<string>purple</string>
		<string>brown</string>
		<string>purple</string>
		<string>lightblue</string>
		<string>lightblue</string>
		<string>blue</string>
		<string>green</string>
		<string>pink</string>
		<string>green</string>
		<string>purple</string>
		<string>brown</string>
		<string>yellow</string>
		<string>yellow</string>
		<string>orange</string>
		<string>lightblue</string>
		<string>yellow</string>
		<string>lightblue</string>
		<string>pink</string>
		<string>yellow</string>
		<string>blue</string>
		<string>brown</string>
		<string>blue</string>
		<string>pink</string>
		<string>pink</string>
		<string>brown</string>
		<string>orange</string>
		<string>lightblue</string>
		<string>blue</string>
		<string>orange</string>
		<string>yellow</string>
		<string>blue</string>
		<string>purple</string>
		<string>pink</string>
		<string>pink</string>
		<string>orange</string>
		<string>orange</string>
		<string>pink</string>
		<string>green</string>
		<string>pink</string>
		<string>red</string>
		<string>lightblue</string>
		<string>red</string>
		<string>pink</string>
		<string>pink</string>
		<string>purple</string>
		<string>green</string>
		<string>brown</string>
		<string>green</string>
		<string>yellow</string>
		<string>green</string>
		<string>lightblue</string>
		<string>pink</string>
		<string>green</string>
		<string>purple</string>
		<string>pink</string>
		<string>red</string>
		<string>lightblue</string>
	</array>
	<key>movesAllowed</key>
	<integer>25</integer>
	<key>targetScore1</key>
	<integer>15000</integer>
	<key>targetScore2</key>
	<integer>20000</integer>
	<key>targetScore3</key>
	<integer>25000</integer>
	<key>validNewBlocks</key>
	<array>
		<string>blue</string>
		<string>brown</string>
		<string>green</string>
		<string>lightblue</string>
		<string>orange</string>
		<string>pink</string>
		<string>purple</string>
		<string>red</string>
		<string>yellow</string>
	</array>
</dict>
</plist>
